a {
    text-decoration: none !important;
}

.nav-back {
    background-color: white;
}

.foot {
    background: url("back.jpg") no-repeat center / cover;
}

.nav-link {
    -webkit-text-fill-color: black;
    font-weight: 600 !important;
}

.nav-link:hover {
    -webkit-text-fill-color: #eb5d0bd5;
}


header {
    background: url("back.jpg") no-repeat center / cover;
}

.naglowki {
    color: #000000c2;
}



section span {
    display: inline-block;
    color: black;
    border: 1px solid #00000060;

    padding: 5px 8px;
    margin: 4px;

    border-radius: 5px;
    font-size: 0.9rem;
}

section span:hover {
    background-color: #eb5d0b34;
    border: 1px solid #461a00c2;
    transition: 0.5s;
}

.btn {
    background-color: #eb5d0b5d !important;
    -webkit-text-fill-color: black;
    border: 1px solid #000000c2 !important;
}

.btn:hover {
    background-color: #eb5d0bd5 !important;
    border: 1px solid #461a00c2 !important;
    transition: 0.5s;
}

.lead {
    font-weight: 400 !important;
}

.border-image {
    border: 4px solid black;
}

#scroll-to-top{
    position:fixed;
    bottom:10px;
    right:10px;
    opacity:0.8;
 }
 #scroll-to-top:hover{
    opacity:1;
    transition: 0.5s;
 }


 .progress-bar {
    width: 100%;
    background-color: #f0f0f0 !important;

  }

  .progress-fill {
    width: 0;
    transition: width 2s ease-in-out;
  }
